<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bulletin board</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      @media (max-width: 768px) {
        .form-inline .form-control {
          display: inline-block;
          width: auto;
          vertical-align: middle;
        }
        .form-inline .btn {
          display: inline-block;
          vertical-align: middle;
        }
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <body>
        <h1>Welcome to the Bulletin Board</h1>
        {% if message %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endif %}

        <div class="container">
          <div class="row">
            <div class="col text-left">
              <a href="{{ url_for('add_post') }}" class="btn btn-primary"
                >Add Post</a
              >
              <a href="{{ url_for('search') }}" class="btn btn-primary"
                >Search Post</a
              >
            </div>

            <div class="col text-right">
              <form
                id="adminForm"
                method="post"
                class="form-inline d-inline-block"
              >
                <input
                  type="number"
                  class="form-control mb-2 mr-sm-2"
                  id="post_id"
                  name="post_id"
                  placeholder="1"
                />
                <button type="submit" class="btn btn-primary mb-2">
                  Activate Admin Bot
                </button>
              </form>
            </div>
          </div>
        </div>

        <hr />
        <h2>All Posts</h2>
        <ul>
          {% for post in posts %}
          <li>
            <a href="{{ url_for('view_post', post_id=post.id) }}"
              >{{ post.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </body>
    </div>
  </body>
  <script>
    document.getElementById("adminForm").onsubmit = function (e) {
      e.preventDefault();
      var post_id = document.getElementById("post_id").value;
      var actionUrl = "{{ url_for('admin', post_id=1) }}".replace("1", post_id);
      this.action = actionUrl;
      this.submit();
    };
  </script>
</html>
