<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read File</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            File not found or not readable...
        </div>
        {% else %}
        <h2>File: {{ filename }}</h2>
        <pre>{{ content }}</pre>
        {% endif %}
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to list</a>
    </div>
</body>

</html>