<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XSS Lab Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 id="test">Welcome to the XSS Lab</h1>
      <p>Practice your Cross Site Scripting skills!</p>
      <a href="/board" class="btn btn-primary">go to bulletin board</a>
    </div>
  </body>
</html>
