<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Use a tag</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <style>
    .form-control,
    .btn {
      border-radius: 0.25rem;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }

    .container {
      padding-top: 2rem;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2 class="mb-4">HTML Lab</h2>
    <div class="col text-right">
      <a href="{{ url_for('report') }}" class="btn btn-primary">report</a>
    </div>
    <form method="get">
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if content %}
    <div class="alert alert-info" role="alert">{{ content|safe }}</div>
    {% endif %}
  </div>
  <script>
    window.CONFIG = window.CONFIG || {
      check: false,
      location: "http://ssh.knock-on.org:10010/",
    };

    if (window.CONFIG.check !== false) {
      location.href = window.CONFIG.location
    }
  </script>
</body>

</html>